.container {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blue;
    /* Acomoda los elementos al revés en  flex-direction: row-reverse */
}
/* Funciona igual si lo dejo como [.item], aunque es más específico a los hijos
directos de la clase item */
.container > .item {
    background-color: gray;
    width: 30%;
    height: 30px;
}

/* # se va por id // . por clase */
.main {
    display: flex;   
}

/* # se va por id // . por clase */
.main div:nth-of-type(1) {
    flex-grow: 1;
}