body {
    background-color: #fffbf7;
}

h1 {
    color: rgb(74, 74, 226);
    text-align: center;
}

h2 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}
/* Características para una clase. Fontsize = 0 para reducir espacios de separación*/
.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
    font-family: sans-serif;
    line-height: 45px;
  }

  main {
      text-align: center;
  }
  
  li {
      display: inline;
  }

/* Determinar características a los hijos de header, donde se establece la fuente que buscamos */
  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }

  .logo {
      width: 15%;
  }

  /* .navbar {
      width: 70%;
      text-align: left;
      color: #025157;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } */

  .navitem {
      margin-left: 25px;
      margin-right: 25px;
  }

  .actions {
      width: 15%;
      text-align: left;
      font-size: 14px;
  }

  .actions > * {
      margin-right: 10px;
      margin-left: 10px;
  }

  .actions a {
      color: #67b54b;
  }

  .actions button {
      color: white;
      background-color: #67b54b;
      padding: 12px 14px 12px 14px;
      border: 0;
      border-radius: 5px;
  }

/* Width ajusta un ancho menor que toda la pantalla.
margin auto centra de forma automática */
.Promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.Advert h2 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 40px;
      color: #025157;
  }
.Advert p {
    font-family: sans-serif;
    font-size: 16px;
    color: #343434;
}
.Advert > form {
    display: flex;
}

.Advert form > p {
    color: #025157;
    margin-right: 18px;
    margin-top: 10px;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

/* Decirle al contenido que debe estar en la parte superior, en el borde izquierdo
y use todo el ancho, extendíendose al borde derecho */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

body {
    margin-top: 185px;
  }

.features {
    background-color: #025157;
    display: grid;
    /* grid-template-columns: 300px 300px; agrega columnas */
   /* grid-template-columns: repeat(2, 300px); */
   /* grid-template-columns: 500px 1fr; */

   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(2, 330px); */

   /* Alternativa: 
   height: 660px;
   grid-template-rows: repeat(2, 1fr); */

   /* Shortcut: orden filas / columnas */
   grid-template: repeat(2, 330px) / repeat(2, 1fr);
}


.feature-art {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-art img {
    display: flex;
    width: 50px;
}

.content {
    margin: 25px;
}

.content img {
    width: 60px;
    margin: 10px;
}

.feature-art .content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.feature-art .content p {
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
    text-align: justify;
}

.content a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.feature-art .sample {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
}



.studycase {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    margin: 0;
}

.statement {
    padding: 120px;
}

.statement img {
    width: 500px;
    max-width: 150%;
}

.statement h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

.statement p {
    font-family: sans-serif;
    font-size: 18px;
    color: #343434;
    text-justify: auto;
}

.statement button {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    size: 90px;
    padding: 12px;
    border-radius: 8px;
    border-style: none;
}

.statement img {
    margin-top: 60px;
}

.umfrage {
    background-color: white;
    padding: 0px;
    width: 400px;
    height: 750px;
    justify-content: center;
    margin: 100px;
    border-radius: 20px;
}

.umfrage img {
    max-width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.everly-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    position: absolute; 
    right: 120px; 
    top: 2400px;
}

.everly-logo img {
    width: 92px;
}

.Everly-body h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #025157;
    margin-left: 15px;
    margin-top: 50px;
}

.Everly-body h3 {
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-justify: auto;
    justify-content: center;
}

.stat {
    display: flex;
    align-items: center;
    color: #828282;
}

.stat img {
    width: 40px;
    margin-left: 10px;
}
.stat p {
    margin-right: 18px;
    margin-left: 18px;
    font-family: sans-serif;
    font-size: 15px;
}

.link {
    text-align: center;
}

.link button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    size: 50px;
    padding: 10px;
    border-radius: 8px;
    border-style: none;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar, .actions {
        display: none;
    } 
    
    h1 {
        font-size: 20px;
    }
    main {
        margin-top: -94px;
    }
    .banner > img {
        width: 100%;
    }

    .publish > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .Promo {
        flex-direction: column;
        max-width: 90%;
    }
    .explanatory-video > video {
        width: 100%;
    }
    .Promo {
        margin-top: 25px;
    }
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
    }

}

/* .carousel-inner {
    max-height: 100%;
    height: 400px;
} */

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}